#main{
    display: flex;
    gap: 50vh;
}

html {
    background-color: rgb(0, 0, 0);
}

body {
    background: black;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: 30%; 
    flex-wrap: wrap;
}

/* Logo centralizado mais à esquerda */
.logo {
    width: 300px;
    max-width: 90vw;
}

/* Caixa de login */
.login-box{
    background: #333;
    padding: 30px;
    text-align: center;
    width: 400px;
    max-width: 90vw;
    border-radius: 10px;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Inputs */
.login-box input[type="email"],
.login-box input[type="password"] {
    font-size: 22px;
}

/* Botões */
.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

.btn,
.btn1 {
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover,
.btn1:hover {
    background-color: darkred;
}

@media (max-width:768px){
    body{
        flex-direction: column;
        height: auto;
        padding-top: 40px;
        justify-content: center;
        gap: 40px;

    }
    #main{
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }
    .logo{
        width: 200px;
        max-width: 70vw;
        margin: 0;

    }
    .login-box {
        width: 80%;
        max-width: 350px;
        padding: 20px;
        margin: auto;
    }
    .login-box input[type="email"],
    .login-box input[type="password"] {
        font-size: 18px;
        padding: 10px;
    }
}
@media (max-width: 992px) {
    body {
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
        height: auto;
    }

    .logo {
        width: 70%;
        max-width: 300px;
        margin: 0 auto;
        display: block;
    }

    .login-box {
        width: 80%;
        max-width: 400px;
        padding: 20px;
        margin: auto;
    }

    .login-box input[type="email"],
    .login-box input[type="password"] {
        font-size: 18px;
        padding: 10px;
    }

    .botoes {
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }
}