#main{
  transition: margin-left .5s;
  padding-left: 0;
}

body {
  background-color: rgb(20, 20, 20) !important;
  min-height: 100vh;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.banner{
  width: 100%;
  height: 35vh;
  padding-top: 0;
  background: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 20%),
  linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0,0,0,0) 20%),
  url("https://wallpapercave.com/wp/wp4016031.jpg") center/cover no-repeat;
}

.side-nav{
  height: 100%;
  width: 0;
  position:fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(26, 26, 26);
  overflow: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a {
  padding: 10px 8px 8px 8px;
  margin-left: 20px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}
.side-nav a:hover{
  color: rgb(226, 0, 0);
}
.opn-btn{
  color: white;
  font-size: 20px;
  position: fixed;
  margin-left: 20px;
  margin-top: 15px;
  border-radius: 12px;
  height: 30px;
  width: 38px;
  background-color: red;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity .3s ease;
}
.closebtn{
  color: white;
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 35px;
  background: none;
  border: none;
  cursor: pointer;
}


.bg-2{
  position: relative;
  top: -100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  border-radius: 12px;
  padding: 40px;
  width: 80%;
  height: 100%;

  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto 0;
  box-shadow:  0 4px 25px rgba(0, 0, 0, 0.6), 0 4px 30px rgba(0, 0, 0, 0.2);
}
.card-filme{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.card-filme img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  outline-style: solid;
  outline-color: rgb(175, 11, 11);
  outline-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2);
}
.dados-filme{
  max-width: 600px;
  line-height: 1.5;
  color: white;
  text-wrap: inherit;
  justify-content: center;
}

.info{
  display:grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto auto;
  gap: 10px 5px;
  align-items: start;
}

.sub-info1{
  grid-column: 1/-1;
}
.info h6{
  color: rgb(175, 8, 8);
}
.texto-sinopse h6{
  color: rgb(175, 8, 8);
}
.texto-sinopse p {
  text-align: justify;
}
.px-2{
  color: white !important;
}
.px-3{
  background-color: red !important;
  border-radius: 12px !important;
  transition: 0.1s ;
}
.px-3:hover{
  outline-style: solid !important;
  outline-color: white!important;
  outline-width: 2px!important;
  transform: scale(1.1);
}
.border-top{
  align-items: center;
}