html {
    background-color: rgb(0, 0, 0);
}

body {
    background: black;
    display: flex;
    justify-content: center;
    /* Centraliza na horizontal */
    align-items: center;
    /* Centraliza na vertical */
    height: 100vh;
    margin: 0;
}

/* Logo no canto */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
}

/* Caixa de login */
.login-box {
    background: #333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 320px;
    /* largura fixa */
}

/* Título */
.login-box h1 {
    color: white;
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

/* Inputs */
.login-box input[type="email"],
.login-box input[type="password"] {
    display: block;
    width: 90%;
    padding: 12px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

/* Botões */
.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

a {
    text-decoration: none;
}

.btn,
.btn1 {
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px white;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover,
.btn1:hover {
    background-color: darkred;
}