/* Fundo */
html {
    background-color: black;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; /* centraliza horizontalmente */
    align-items: center; /* centraliza verticalmente */
    height: 100vh;
    margin: 0;
    gap: 350px; /* distância entre logo e caixa */
}

/* Logo */
.logo img {
    width: 500px; /* aumenta o tamanho */
    margin-right: 50px;
}

/* Caixa de cadastro */
.container {
    background-color: #333;
    padding: 40px; /* espaço interno */
    text-align: center;
    width: 450px;
    border-radius: 8px; /* mais quadrado */
}

/* Título */
h1 {
    color: white;
    margin-bottom: 40px;
    font-size: 48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Inputs */
input {
    width: 100%;
    padding: 14px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
}

/* Botões */
.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn,
.btn1 {
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 12px 25px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover,
.btn1:hover {
    background-color: darkred;
}

/* Mensagem de erro */
.erro {
    color: red;
    margin-top: 10px;
    font-weight: bold;
    font-size: 25px;
}
