body {
  font-family: Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
  background: #333;
  padding: 20px;
  border-radius: 10px;
 
}

h1, h2 , p {
  color: #ffffff;
  text-align: center;
}

.menu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.item {
  background-color: rgb(90,90,90);
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.2s;
}

.item:hover {
  transform: scale(1.03);
}

.item img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.item h3 {
  color: #fff;
  margin: 10px 0 5px;
}

.item p {
  margin: 0;
  color: #ffffff;
}

.item button {
  margin-top: 10px;
  padding: 10px 12px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.item button:hover {
  background-color: #cc0000;
}

.carrinho {
  color: #fff;
  margin-top: 30px;
  background-color: rgb(90, 90, 90);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carrinho ul {
  list-style: none;
  padding: 0;
}

.carrinho li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  border-bottom: 1px solid #eee;
}

.remove {
  background: none;
  border: none;
  color: #cc0000;
  cursor: pointer;
  font-size: 18px;
}

.carrinho-total {
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
}

.finalizar {
  padding: 8px 12px;
  background-color: #cc0000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.finalizar:hover {
  background-color: #cc0000;
}

#snackbar {
  visibility: hidden;
  min-width: 260px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 12px;
  position: fixed;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease, bottom 0.3s ease;
}

#snackbar.show {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}
